:root {
    --white: #FFFFFF;
    --primary: #808080;
    --primary-dark: #23a2f6;
    --secondary: linear-gradient(#ff512f, #1845ad);
    --gray-4: hsl(0, 0%, 70%);
    --gray-4: hsl(0, 0%, 50%);
    --shadow-2: #e5e5e5;
    --shadow-4: #e5e5e5;
    --success: #008f39;
    --error: #ff0000;
    --black: #000000;
}