{% extends "header.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
   <title>Mantenimiento de Investigadores</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
   <script src="{{ url_for('static', filename='javascript/associate_article.js') }}"></script>
</head>

<body>

   <section class="get-in-touch">
      <h1 class="title">Add Associate Article</h1>
      <form id="myForm" class="contact-form row">
         <div class="form-field col x-50">
            <select id="publications" class="input-select js-select" required>
            
            </select>
            <label class="label" for="publications">Publications</label>
        </div>
        <div class="form-field col x-50">
            <select id="projects" class="input-select js-select" required>
            
            </select>
            <label class="label" for="projects">Projects</label>
         </div>

         <div class="form-field col x-100 align-center">
            <label id="add-btn" class="submit-btn">ADD</label>
         </div>
      </form>
   </section>

</body>

</html>

{% endblock %}