{% extends "header.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
   <title>Subir datos</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
   <script src="{{ url_for('static', filename='javascript/uploadData.js') }}"></script>
</head>

<body>

   <section class="get-in-touch">
      <h1 class="title">Upload Data</h1>
      <form class="contact-form row">
         <div class="form-field col x-100 align-center">
            <input type="file" accept="csv" id="load_researchers">
            <label id="loadResearchers" class="upload-btn">Load Researchers</label>
         </div>
         <div class="form-field col x-100 align-center">
            <input type="file" accept="csv" id="load_proj">
            <label id="loadProjects" class="upload-btn">Load Projects</label>
         </div>
         <div class="form-field col x-100 align-center">
            <input type="file" accept="csv" id="load_pub">
            <label id="loadPublications" class="upload-btn">Load Publications</label>
         </div>
         <div class="form-field col x-100 align-center">
            <input type="file" accept="csv" id="load_researchers-proj">
            <label id="loadResearchersProj" class="upload-btn">Load Researchers-Proj</label>
         </div>
         <div class="form-field col x-100 align-center">
            <input type="file" accept="csv" id="load_pub-proj">
            <label id="loadPublicationsProj" class="upload-btn">Load Publications-Proj</label>
         </div>
      </form>
   </section>
   

</body>

</html>

{% endblock %}