{% extends "header.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
   <title>Mantenimiento de Proyectos</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
   <script src="{{ url_for('static', filename='javascript/projects.js') }}"></script>
</head>

<body>

   <section class="get-in-touch">
      <h1 class="title">Add / Update Projects</h1>
      <form id="myForm" class="contact-form row">
         <div class="form-field col x-50">
            <input id="id" class="input-text js-input" type="number" required>
            <label class="label" for="id">Node ID</label>
         </div>
         <div class="form-field col x-100">
            <input id="title" class="input-text js-input" type="text" required>
            <label class="label" for="title">Title</label>
         </div>
         <div class="form-field col x-50">
            <input id="year" class="input-text js-input" type="number" required>
            <label class="label" for="year">Start Year</label>
         </div>
         <div class="form-field col x-50">
            <input id="duration" class="input-text js-input" type="number" required>
            <label class="label" for="duration">Duration [in months]</label>
         </div>
         <div class="form-field col x-100">
            <input id="knowledge" class="input-text js-input" type="text" required>
            <label class="label" for="knowledge">Knowledge Area</label>
         </div>
         <div class="form-field col x-100 align-center">
            <label id="add-btn" class="submit-btn">ADD</label>
         </div>
         <div class="form-field col x-100 align-center">
            <label id="update-btn" class="submit-btn">UPDATE</label>
         </div>
      </form>
   </section>

</body>

</html>

{% endblock %}