{% extends "header.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
   <title>Mantenimiento de Investigadores</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
   <script src="{{ url_for('static', filename='javascript/researchers.js') }}"></script>
</head>

<body>

   <section class="get-in-touch">
      <h1 class="title">Add / Update Researcher</h1>
      <form class="contact-form row">
         <div class="form-field col x-50">
            <input id="id" class="input-text js-input" type="number" required>
            <label class="label" for="id">Node ID</label>
         </div>
         <div class="form-field col x-50">
            <input id="name" class="input-text js-input" type="text" required>
            <label class="label" for="name">Complete Name</label>
         </div>
         <div class="form-field col x-50">
            <select id="degree" class="input-select js-select" required>
                <option value="Diplomado">Diplomado</option>
                <option value="Tecnico">Técnico</option>
                <option value="Bachillerato">Bachillerato</option>
                <option value="Licenciatura">Licenciatura</option>
                <option value="Maestria">Maestría</option>
                <option value="Especialidad">Especialidad</option>
                <option value="Doctorado">Doctorado</option>
            </select>
            <label class="label" for="degree">Academic Degree</label>
        </div>
         <div class="form-field col x-100">
            <input id="email" class="input-text js-input" type="email" required>
            <label class="label" for="email">E-mail</label>
         </div>
         <div class="form-field col x-100">
            <input id="institution" class="input-text js-input" type="text" required>
            <label class="label" for="institution">Institution Works</label>
         </div>

         <div class="form-field col x-100 align-center">
            <label id="add-btn" class="submit-btn">ADD</label>
         </div>

         <div class="form-field col x-100 align-center">
            <label id="update-btn" class="submit-btn">UPDATE</label>
         </div>
      </form>
   </section>

</body>

</html>

{% endblock %}