{% extends "header.html" %}

{% block content %}

    <!DOCTYPE html>
    <html>

    <head>
        <title>Search for a Publication</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
        <script src="{{ url_for('static', filename='javascript/search_publication.js') }}"></script>
    </head>

    <body>

    <section class="get-in-touch">
        <h1 class="title">Search for a Publication</h1>
        <form class="contact-form row">
            <div class="form-field col x-50">
                <input id="name" class="input-text js-input" type="text" required>
                <label class="label" for="name">Project Name</label>
            </div>
        </form>
        <table id="publications">
            <thead>
            <tr>
                <th>idPub</th>
                <th>Title</th>
                <th>Journal</th>
                <th>Publication Year</th>
                <th>Project</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>

    </body>

    </html>

{% endblock %}