{% extends "header.html" %}

{% block content %}

    <!DOCTYPE html>
    <html>

    <head>
        <title>Top 5 Knowledge Areas</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
        <script src="{{ url_for('static', filename='javascript/search_researcher.js') }}"></script>
    </head>

    <body>

    <section class="get-in-touch">
        <h1 class="title">Search for a Researcher</h1>
        <form class="contact-form row">
            <div class="form-field col x-50">
                <input id="name" class="input-text js-input" type="text" required>
                <label class="label" for="name">Name</label>
            </div>
        </form>
        <table id="researcher">
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Degree</th>
                <th>Institution</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <h4 id="researcher_projects"></h4>
        <table id="projects" style="display: none">
            <thead>
            <tr>
                <th>Title</th>
                <th>Knowledge Area</th>
                <th>Duration</th>
                <th>Start Year</th>
                <th>Id</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>

    </body>

    </html>

{% endblock %}