{% extends "header.html" %}

{% block content %}

    <!DOCTYPE html>
    <html>

    <head>
        <title>Search for a Knowledge Area</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
        <script src="{{ url_for('static', filename='javascript/search_area.js') }}"></script>
    </head>



    <body>

    <section class="get-in-touch">
        <h1 class="title">Search for a Knowledge Area</h1>
        <form class="contact-form row">
            <div class="form-field col x-50">
                <select id="knowledge_area" class="input-select js-select" required>

                </select>
                <label class="label" for="knowledge_area">Knowledge Areas</label>
            </div>
        </form>
        <table id="knowledge">
            <thead>
            <tr>
                <th>Knowledge Area</th>
                <th>Projects</th>
                <th>Publications</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>

    </body>

    </html>

{% endblock %}