{% extends "header.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
   <title>Top 5 Researchers</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
   <script src="{{ url_for('static', filename='javascript/top_researchers.js') }}"></script>
</head>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            getTopInstitutions();
        });
    </script>

<body>

   <section class="get-in-touch">
      <h1 class="title">Top 5 Researchers</h1>
        <table id="researchers">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Institution</th>
                    <th>Number of Projects</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
   </section>

</body>

</html>

{% endblock %}